.eight-main.scrollview
	section.eight-main-wrap.gb-punct
		a.eight-sign(href="javascript:void(0)")
			include ../../_svg/5years-sign.svg
		article.eight-card.eight-head
			h1 政见八问：<br>五年时光，我们怎样走过
			p 对于一个志愿者团队来说，能持续运转五年，真的不是一件容易的事。
			p 五年时光，我们付出了太多心血，收获了太多满足，历经了太多挣扎，也留下了太多遗憾。
			p 作为反思和纪念，团队中的八位成员，回答了八个关于政见成长历程的问题：这五年来，政见在做什么？学术科普写作时如何把握专业和通俗的界限？什么样的内容是政见读者喜闻乐见的？政见的微信公众号如何涨粉？政见如何在体例中打造品牌形象？政见的播客栏目是如何制作出来的？五年来，政见面对着怎样的互联网环境？志愿者团队的生产力如何保持？
			p 我们希望通过这八个问题，勾勒出政见发展轨迹的轮廓，为读者、也为我们自己。
		.eight-milestone
			h5 政见八问
			p 五年时光，我们怎样走过
		article.eight-card.eight-body
			h5 第一问：
			h3 这五年来，政见在做什么？
			p
				span.author 方可成 · 政见创始人
			p 我们一直在做一件不可能的事情。
			p
				a.modal-open(href="javascript:void(0)" data-url="#{assetsPath}post/eight/1.html") ☞ 阅读全文
			
			h5 第二问：
			h3 学术科普写作时如何把握专业和<br>通俗的界限？
			p
				span.author 邵立 · 政见观察员
			p 对于“学术科普中专业和通俗之间的界限”这个问题，谈谈我写作过程中面对过哪些棘手的困难。
			p
				a.modal-open(href="javascript:void(0)" data-url="#{assetsPath}post/eight/2.html") ☞ 阅读全文
			
			h5 第三问：
			h3 什么样的内容是政见读者<br>喜闻乐见的？
			p
				span.author 徐驭尧 · 政见微信运营成员
			p 为了制造点击量，你一定要知道，你的读者究竟是谁？文章的受众又是哪些人？
			p
				a.modal-open(href="javascript:void(0)" data-url="#{assetsPath}post/eight/3.html") ☞ 阅读全文
			
			h5 第四问：
			h3 政见的微信公众号如何涨粉？
			p
				span.author 张烨 · 政见编委会、微信运营成员
			p 除了发稿、写报告、收集内部八卦以外，最大的（也是最不上心的）任务就是涨粉。
			p
				a.modal-open(href="javascript:void(0)" data-url="#{assetsPath}post/eight/4.html") ☞ 阅读全文
			
			h5 第五问：
			h3 政见如何在体例中打造品牌形象？
			p
				span.author 钱争予 · 政见设计师
			p 2013年初春，寒假。我还在小心翼翼地为政见描一个新字标。
			p
				a.modal-open(href="javascript:void(0)" data-url="#{assetsPath}post/eight/5.html") ☞ 阅读全文
			
			h5 第六问：
			h3 政见的播客栏目是如何制作出来的？
			p
				span.author 王菁 · 政见播客主播
			p 在很多时候，知识的传播是通过声音完成的。声音内容，同样应该是社会科学科普的重要媒介。
			p
				a.modal-open(href="javascript:void(0)" data-url="#{assetsPath}post/eight/6.html") ☞ 阅读全文
			
			h5 第七问：
			h3 五年来，政见面对着怎样的<br>互联网环境？
			p
				span.author 赵蒙旸 · 政见编委会、前微博运营成员
			p 有区别的，永远是内容。只有内容，才可以被互联网记住。
			p
				a.modal-open(href="javascript:void(0)" data-url="#{assetsPath}post/eight/7.html") ☞ 阅读全文
			
			h5 第八问：
			h3 志愿者团队的生产力如何保持？
			p
				span.author 张跃然 · 政见编委会成员、观察员
			p 政见团队沟通工作事宜的微信群，名字叫做“[跃然@你] CNPolitics 工作群”。
			p
				a.modal-open(href="javascript:void(0)" data-url="#{assetsPath}post/eight/8.html") ☞ 阅读全文
		//- END
		.eight-milestone--signboard
			a.signboard.signboard--2(href="javascript:void(0)")
				h3.signboard-heading 政见五年
				p.signboard-desc 用这 25 篇作品，回顾政见一路走来的五年
